[Unit]
Description=Calendar mirror
After=network.target
After=network-online.target
After=epd-fuse.target
Wants=network-online.target

[Service]
Type=simple
Restart=no
WorkingDirectory=/tmp
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/calendar_mirror/bin" "CALENDAR_MIRROR_VAR=/var/opt/calendar_mirror" "CALENDAR_MIRROR_DEV=/dev/mmcblk0p8"
ExecStart=/opt/calendar_mirror/bin/calendar_mirror

[Install]
WantedBy=multi-user.target
